@using EntityLayer.Concrete
@model List<User>
@{
    ViewBag.Title = "GetListUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="cbp-spmenu-push">

    <div class="main-content">
        <div id="page-wrapper">
            <div class="main-page">
                <div class="elements  row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 profile widget-shadow">
                            <h4 class="title3">Profile</h4>
                            <div class="profile-top">
                              
                                <img src=@item.UserImage style="width:70px;height:70px"/>
                                <h4>@item.UserName @item.UserSurname</h4>
                                <h5>@item.UserAbout</h5>
                            </div>
                            <div class="profile-text">
                                <div class="profile-row">
                                    <div class="profile-left">
                                        <i class="fa fa-envelope profile-icon"></i>
                                    </div>
                                    <div class="profile-right">
                                        <h4>@item.UserMail</h4>
                                        <p>Email</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="profile-row row-middle">
                                    <div class="profile-left">
                                        <i class="fa fa-mobile profile-icon"></i>
                                    </div>
                                    <div class="profile-right">
                                        <h4>222-555-111</h4>
                                        <p>Contact Number</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</body>