@using EntityLayer.Concrete
@model List<User>
@foreach (var item in Model)
{
    <li>
        <a href="/User/UserEdit/@item.UserId"><i class="fa fa-cogs fa-fw nav_icon"></i>Ayarlar</a>
        <!-- /.nav-second-level -->
    </li>
}