@using EntityLayer.Concrete
@model List<User>
<li class="dropdown">
    @foreach (var item in Model)
    {
        <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src=@item.UserImage></a>
        <ul class="dropdown-menu">

            <li class="dropdown-menu-header text-center">
                <strong>@item.UserName @item.UserSurname</strong>
            </li>
            <li class="m_2"><a href="/User/UserProfile/@item.UserId"><i class="fa fa-user"></i> Profil</a></li>
            <li class="m_2"><a href="/User/UserEdit/@item.UserId"><i class="fa fa-wrench"></i> Ayarlar</a></li>
            <li class="m_2"><a href="/Login/UserLogOut/"><i class="fa fa-lock"></i> Çıkış Yap</a></li>
        </ul>
    }
    </li>
