
@{
    ViewBag.Title = "Page404";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 Hata!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sayfa Bulunamadı" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <!-- /font files -->
    <!-- css files -->
    <link href="~/Themes/errorPage/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
    <!-- js files -->
    <!-- /js files -->
    </head>
    <body>
        <div class="container demo-2">
            <div class="content">
                <div id="large-header" class="large-header">
                    <h1 class="header-w3ls">Sayfa Bulunamadı!</h1>
                    @*<p class="w3-agileits1">Oops!</p>*@
                    <canvas id="demo-canvas"></canvas>
                    @*<img src="~/errorPage/web/images/owl.gif" alt="flashy" class="w3l">*@
                    <h2 class="main-title">404</h2>
                    @*<p class="w3-agileits2">Aradığınız Sayfayı Bulamadık:( </p>*@
                    <h5><a href="/Home/HomePage/">Ana Sayfaya Dön</a></h5>
                </div>
            </div>
        </div>
        <!-- js files -->
        <script src="~/Themes/errorPage/web/js/rAF.js"></script>
        <script src="~/Themes/errorPage/web/js/demo-2.js"></script>
        <!-- /js files -->
    </body>
</html>