@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Admin>
@{
    ViewBag.Title = "ActiveAdminList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{

    string checkStatus = "";
}
<body class="cbp-spmenu-push">

    <div class="main-content">

        <div id="page-wrapper">

            <div class="main-page">
                <a class="btn btn-primary btn-sm" href="/Admin/GetListAdmin/">
                    <i class="fas fa-pencil-alt">
                    </i>
                    <h5>Tüm Adminler</h5>
                </a>
                <a class="btn btn-primary btn-sm" href="/Admin/PasifAdminList/">
                    <i class="fas fa-pencil-alt">
                    </i>
                    <h5>Pasif Adminler</h5>
                </a>
                <a class="btn btn-success btn-sm" style="margin-left:770px" href="/Register/AdminRegister/">
                    <i class="fas fa-pencil-alt">
                    </i>
                    <h5>Yeni Admin Ekle</h5>
                </a>
                <div class="elements  row">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 profile widget-shadow" style="margin-left: 5px; margin-bottom: 5px">

                            <div class="profile-top">

                                <img src=@item.AdminImage style="width:70px;height:70px" />
                                <h4>@item.AdminName @item.AdminSurname</h4>
                                <h5>Admin</h5>
                            </div>
                            <div class="profile-text">
                                <div class="profile-row">
                                    <div class="profile-left">
                                        <i class="fa fa-envelope profile-icon"></i>
                                    </div>
                                    <div class="profile-right">
                                        <h4>@item.AdminMail</h4>
                                        <p>Email</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="profile-row row-middle">

                                    <div class="profile-right">

                                        <b>Durum: </b>
                                        @if (item.AdminStatus == true)
                                        {
                                            <i>Aktif Kullanıcı</i>

                                        }
                                        else
                                        {
                                            <i> Pasif Kullanıcı</i>
                                        }

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="profile-row">

                                    <div class="profile-right">
                                        <a class="btn btn-danger btn-sm" href="/Admin/AdminStatus/@item.AdminId">

                                            @if (item.AdminStatus == true)
                                            {
                                                checkStatus = "Pasif Yap";

                                            }
                                            else
                                            {

                                                checkStatus = "Aktif Yap";
                                            }

                                            @checkStatus
                                        </a>

                                        <a class="btn btn-primary btn-sm" href="/Admin/AdminPageAdminEdit/@item.AdminId">

                                            Düzenle
                                        </a>
                                    </div>
                                    <div>

                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @Html.PagedListPager((IPagedList)Model, p => Url.Action("GetListAdmin", new { p }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {
        {"page-link"}
    }
})
        </div>
    </div>
</body>
