@using EntityLayer.Concrete
@model List<Admin> 
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <div class="tables">
            <div class="panel-body widget-shadow">
                <h4 style="text-align:center"><b>Profil Bilgileri</b></h4>
                @foreach (var item in Model)
                {
           
                    <img src="~/Images/adminprofil.png" style="width:150px;height:150px;margin-left:5em;margin-bottom:5em" />
                    <table style="float:right;margin-right:30em">
                        <thead>
                            <tr>
                                <td>
                                    <br />
                                    <b>Ad - Soyad: </b>@item.AdminName @item.AdminSurname
                                    <br />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Mail: </b> @item.AdminMail
                                    <br />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Yetki Durumu: </b> @item.Role.RoleName
                                </td>
                            </tr>

                        </thead>

                    </table>

                    <div style="margin-bottom: 15px; position: relative; margin-left: 460px; margin-right: 20px">
                        <button type="submit" value="send" class="btn btn-primary">
                            <a href="/Admin/ChangePassword/@item.AdminId" style="color:inherit">Şifre Değiştir</a>
                        </button>
                    </div>
                    <div style="margin-bottom:15px;position:relative;margin-left:460px">
                        <button type="submit" value="send" class="btn btn-success">
                            <a href="/Admin/AdminEdit/@item.AdminId" style="color:inherit">Düzenle</a>
                        </button>
                    </div>
                    
                }
            </div>
            
        </div>
    </div>
</div>