
@using EntityLayer.Concrete
@model List<Admin>

@foreach (var item in Model)
{
    <li>
        <a href="/Admin/AdminEdit/@item.AdminId"><i class="fa fa-cogs nav_icon"></i>Ayarlar</a>
        <!-- /.nav-second-level -->
    </li>
}