@Html.AntiForgeryToken()
<div class="col-md-4 compose-left">
    <div class="folder widget-shadow">
        <ul>
            <li class="head" style="background-color: #6164C1;color:white">Menü</li>
            <li><a href="/Contact/Inbox/"><i class="fa fa-inbox"></i>Gelen Mesaj <span>@ViewBag.receiverMail </span></a></li>
            <li><a href="/Contact/Sendbox/"><i class="fa fa fa-envelope-o"></i>Gönderilen Mesaj <span>@ViewBag.sendMail</span>   </a></li>
            @*<li><a href="#"><i class="fa fa-file-text-o"></i>Taslaklar </a> </li>
            <li><a href="#"><i class="fa fa-flag-o"></i>Spam </a> </li>*@
            <li><a href="#"><i class="fa fa-trash-o"></i>Çöp Kutusu </a></li>
        </ul>
    </div>

</div>
