
@using (Html.BeginForm("GetAllContent", "Contact", FormMethod.Post))
{
    <div class="search-box">
        <form class="input">
            <input class="sb-search-input input__field--madoka" type="search" id="input-31" placeholder="Ara..." />
            <label class="input__label" for="input-31">
                <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                </svg>
            </label>
        </form>
    </div>
}
