@model EntityLayer.Concrete.Contact
@{
    ViewBag.Title = "GetInboxMessageDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE HTML>
<html>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page compose">
                @Html.Action("ContactPartial", "Contact")
                <div class="col-md-8 compose-right widget-shadow">


                    <div class="panel-default">
                        <div class="panel-heading" style="background-color: #6164C1; text-align: center">
                            <b style="color:white; font-size:20px">Gelen Mesaj</b>
                        </div>
                        <div class="panel-body"style="background-color: #6164C1 ">
                            <form class="com-mail">
                                <div class="form-group">

                                    <h4 style="padding: 5px;background-color: white"><b>Konu:  </b>@Html.DisplayFor(x => x.Heading)</h4>
                                </div>
                                <h4 style="padding: 5px; background-color: white"><b>Gönderen:  </b>  @Html.DisplayFor(x => x.SenderMail)</h4>
                                
                                <div class="form-group" style="min-height: 300px; min-width: 750px; border: 0; padding: 5px; border:0; background-color:white">

                                            @Html.DisplayFor(x => x.Contents)

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</body>
</html>
