
@{
    ViewBag.Title = "Sendbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body class="cbp-spmenu-push">
    <div class="main-content">
        <!-- main content start-->
        <div id="page-wrapper">
            <div class="main-page compose">
                <div class="col-md-4 compose-left">
                    <div class="folder widget-shadow">
                        <ul>
                            <li class="head">Menü</li>
                            <li><a href="/Contact/Inbox/"><i class="fa fa-inbox"></i>Gelen Mesaj <span>52</span></a></li>
                            <li><a href="#"><i class="fa fa fa-envelope-o"></i>Gönderilen Mesaj </a></li>
                            <li><a href="#"><i class="fa fa-file-text-o"></i>Taslaklar <span>03</span></a> </li>
                            <li><a href="#"><i class="fa fa-flag-o"></i>Spam </a></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i>Çöp Kutusu</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-8 compose-right widget-shadow">
                    <div class="panel-default">
                        <div class="panel-heading">
                            Mesaj Oluştur
                        </div>
                        <div class="panel-body">
                            <form class="com-mail">
                                <input type="text" class="form-control1 control3" placeholder="Alıcı :">
                                <input type="text" class="form-control1 control3" placeholder="Konu :">
                                <textarea rows="6" class="form-control1 control2" placeholder="Mesaj :"></textarea>
                                <div class="form-group">
                                    <div class="btn btn-default btn-file">
                                        <i class="fa fa-paperclip"></i> Ekle
                                        <input type="file" name="attachment">
                                    </div>
                                    <p class="help-block">Max. 32MB</p>
                                </div>
                                <input type="submit" value="Gönder">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</body>
</html>